beautifulsoup4==4.6.3
html5lib==1.0.1
hyperlink==18.0.0
pyparsing==2.2.0
pytz==2018.5
PyWavelets==1.0.0
requests==2.20.0
rope==0.11.0
unicodecsv==0.14.1
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.1
win-inet-pton==1.0.1
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.10.11
xlrd==1.1.0
XlsxWriter==1.1.0
